
/*contact page */

* {
  font-family: "Figtree", sans-serif;
  font-style: normal;

}

.form-control::placeholder {
  color: #C3C3C3 !important;
  font-size: 14px;
  font-weight: 400;
}

.custom-input {
  border-radius: 3px !important;
  
}


.no-focus-border:focus {
  border-color: #ced4da;
  box-shadow: none;
  outline: none;
}

.custom-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

.meseage-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

.dropdown-toggle-custom {
  cursor: pointer;
  background-color: white;
  position: relative;
}

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #dee2e6;
  z-index: 1000;
  border-radius: 15px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 0;
  max-height: none;
  overflow-y: visible;
  font-size: 14px;
}

.dropdown-menu-custom::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari */
}

.dropdown-item-custom {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-item-custom:hover {
  background-color: #f0f0f0;
  color: gray;
}

.dropdown-caret {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: #999;
}

.contact-btn {
  padding: 10px;
  font-size: 18px;
  background-color: #0076CE !important;
  color: white !important;

}
.form-label{
  font-weight: 400;
}


/* For medium to large screens (width <= 1600px but > 576px) */
@media screen and (max-width: 1600px) {
  .contact-btn {
    width: 100%;
  }
}

/* For small screens (width <= 576px) */
@media screen and (max-width: 576px) {
  .contact-btn {
    width: auto;
    padding: 10px 50px !important;
  }
  .address1 {
    font-size: 14px !important;
  }
  .heading-content{
    font-size: 14px !important;
  }

}
